In [50]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn

In [3]:
!pip install keras

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: keras in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.4.1)
Requirement already satisfied: absl-py in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from keras) (2.1.0)
Requirement already satisfied: numpy in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from keras) (2.0.0)
Requirement already satisfied: rich in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from keras) (13.7.1)
Requirement already satisfied: namex in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from keras) (0.0.8)
Requirement already satisfied: h5py in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from keras) (3.11.0)
Requirement already satisfied: optree in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from keras) (0.12.1)
Requirement already satisfied: ml-dtypes in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from keras) (0.4.0)
Requirement already satisfied: packaging in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from keras) (24.1)
Requirement already satisfied: typing-extensions>=4.5.0 in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from optree->keras) (4.12.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from rich->keras) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from rich->keras) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\bhanu pratap singh\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from markdown-it-py>=2.2.0->rich->keras) (0.1.2)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\Bhanu Pratap Singh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [28]:
df = sns.load_dataset("Iris")
df = df.sample(frac=1)
df.head(10)

     sepal_length  sepal_width  petal_length  petal_width     species
26            5.0          3.4           1.6          0.4      setosa
105           7.6          3.0           6.6          2.1   virginica
133           6.3          2.8           5.1          1.5   virginica
13            4.3          3.0           1.1          0.1      setosa
102           7.1          3.0           5.9          2.1   virginica
54            6.5          2.8           4.6          1.5  versicolor
39            5.1          3.4           1.5          0.2      setosa
68            6.2          2.2           4.5          1.5  versicolor
74            6.4          2.9           4.3          1.3  versicolor
42            4.4          3.2           1.3          0.2      setosa

**Diving into Target(dependent) and Prectictor(independent) variable**

In [29]:
# one-hot encoding
# species column is the target variable(output variable)
y = pd.get_dummies(df["species"],dtype=int)
y

     setosa  versicolor  virginica
26        1           0          0
105       0           0          1
133       0           0          1
13        1           0          0
102       0           0          1
..      ...         ...        ...
51        0           1          0
118       0           0          1
104       0           0          1
86        0           1          0
21        1           0          0

[150 rows x 3 columns]

In [32]:
# these are the input variables (independent)
x = df.drop(["species"],axis=1)
x

     sepal_length  sepal_width  petal_length  petal_width
26            5.0          3.4           1.6          0.4
105           7.6          3.0           6.6          2.1
133           6.3          2.8           5.1          1.5
13            4.3          3.0           1.1          0.1
102           7.1          3.0           5.9          2.1
..            ...          ...           ...          ...
51            6.4          3.2           4.5          1.5
118           7.7          2.6           6.9          2.3
104           6.5          3.0           5.8          2.2
86            6.7          3.1           4.7          1.5
21            5.1          3.7           1.5          0.4

[150 rows x 4 columns]

**Splitting the dataset into training and testing dataset**

In [40]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [39]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
68            6.2          2.2           4.5          1.5
136           6.3          3.4           5.6          2.4
96            5.7          2.9           4.2          1.3
3             4.6          3.1           1.5          0.2
133           6.3          2.8           5.1          1.5
..            ...          ...           ...          ...
13            4.3          3.0           1.1          0.1
70            5.9          3.2           4.8          1.8
86            6.7          3.1           4.7          1.5
18            5.7          3.8           1.7          0.3
128           6.4          2.8           5.6          2.1

[105 rows x 4 columns]

In [43]:
y_train

     setosa  versicolor  virginica
93        0           1          0
84        0           1          0
133       0           0          1
67        0           1          0
51        0           1          0
..      ...         ...        ...
97        0           1          0
149       0           0          1
15        1           0          0
77        0           1          0
9         1           0          0

[105 rows x 3 columns]

**Creating our Model --> MULTI-LAYER PERCEPTRON**

In [52]:
from keras.models import Sequential
from keras.layers import Dense

ModuleNotFoundError: No module named 'keras'

In [1]:
from keras.models import Sequential
from keras.layers import Dense

ModuleNotFoundError: No module named 'keras'

In [ ]:

model = Sequential()
model.add(Dense(6,activation="sigmoid"))  # Hidden layer
model.add(Dense(3,activation="softmax")) # Output layer

In [ ]:
model.compile(loss="categorical_crossentropy",metrics=["accuracy"])
model.fit(x_train,y_train,epochs= 25 , batch_size= 5)